a {
    color: black;
}

a:hover, a:visited {
    color: black;


}

ul {
    list-style: none;
}

.side-bar {
    background-color: navajowhite;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}




#header {
    padding: 3vh 0 2vh 0;
    display: block;
    background-color: floralwhite;
}



#header > a:hover, a:visited {
    text-decoration: none;
    color: black;
}


.main-container {
    background-color: floralwhite;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
}


.text-menu {
    font-size: 28px;
    padding-top: 10%;
}

@media (max-width: 576px) {
    .side-bar{
        display: none;
    }
    .text-menu{
        font-size: 20px;
    }

}
#banner:hover, #banner:visited{
    text-decoration: none;

}
body {
    font-family: 'Lato', sans-serif;
    background-color: floralwhite;
    height: 100%;
    min-height: 100%;
}


body > #header {
    font-family: 'Open Sans', sans-serif;
}
html{
    height: 100%;
    min-height: 100%;
}