body {
    background: url('../images/backgroundImage.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.navbar-dark{
    background:transparent;
    background-image:none;
    border-color:transparent;
    box-shadow:none;
}


.bg-dark{
    background:transparent;
    background-image:none;
    border-color:transparent;
    box-shadow:none;
}
