.content {
    padding-left: 40px;
}

.blue {
    color: lightskyblue;
    font-weight: bold;
}

.content h1 {
    margin-bottom: 15px;
}

.content h3.blue {
    margin-top: 25px;
    margin-bottom: 20px;
}

.content button.btn.btn-secondary,
.content a.btn.btn-secondary {
    margin-top: 15px;
    margin-right: 7px;
}

.content label {
    margin-top: 10px;
}

