.text-menu h2 {
    font-weight: bold;
    margin-bottom: 30px;
}

li .form-group label {
    margin-right: 20px;
}

li {
    margin-bottom: 20px;
}

.form-inline form {
    margin: 0 auto;
}

.btn {
    margin-top: 30px;
    cursor: pointer;
    font-size: 20px;
}

.form-check-label {
    font-size: 20px;
}