.idea
*.iml
target/
out/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
logs/app.log
raportmodule/raportmodule/raportmodule.war
raportmodule.war
autoparts-Jee.war
autoparts-docker/autoparts-Jee.war