<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-dd-MM HH:mm:ss} %-5level %logger{36} - %msg%n"/>
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
        </Console>
        <File name="MyFile" fileName="logs/app.log">
        <!--<File name="MyFile" fileName="logs/app.log">-->
            <PatternLayout>
                <Pattern>%d{YYYY-dd-MM HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
                <!--<Pattern>%d %-5level %logger{36} - %msg%n</Pattern>-->
                <!--<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>-->
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MyFile"/>
        </Root>
    </Loggers>
</Configuration>